body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background-image:url('../images/finals_bg.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

@font-face {
    font-family: AreaNeu;
    src: url(../font/AreaNeu/AreaNeu-gxaVP.ttf);
}
@font-face {
    font-family: LovelyBakery;
    src: url(../font/Lovely-Bakery/LovelyBakery-K7mWZ.ttf);
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc8eac;
    opacity: 0.9;
    width: 100%;
    height: 75px;
    z-index: 2;
    font-family:LovelyBakery;
    font-weight: bold;
    
}

.nav {
    display: flex;
    list-style: none;
    font-size: 19px;
}
.fun{
    
    display: flex;
    list-style: none;
    
}
#entertainment img{
    width: 250px;
}



.logo {
    display: flex; 
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 2%;
    font-style: italic;
}
.logo img {
    width: 65px; 
    height: auto; 
    margin-left: 5px;
    margin-bottom: 3%;
}

 a {
    margin: 7px;
    color: white;
    text-shadow: 2px 2px 1px #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.nav a:hover {
    color: #000000;
}


.flex-container{
    position: relative;
display: flex;
justify-content: space-around;
align-items:center;     
flex-wrap: wrap;
margin-top: 15vh;
margin-right: 10%;
margin-left: 10%;
margin-bottom: 3%;
background-color: aliceblue;
border-radius:30px;
font-family: AreaNeu;
}

.header1{
    padding-top: 2vh;
}

.hello{
    margin-left: 3%;
}

.media{
    padding-top: 4vh;
    display: flex;
    flex:2;
    margin-left:20vh;
    margin-right:20vh;
}
.facebook{
    margin-right: 80px;
}
.facebook p{
color: black;

}
.facebook img{
    width:100px;
    margin-left: 3px;
}
.facebook p, .instagram p{
    font-size: 15px;
}
.instagram{
    margin-right: 80px;
}
.instagram p{
    color: black;
    
}

.instagram img{
    width:57px;
    margin-left: 22px;
}

#fb_p, #ig_p{
    text-shadow:none;
}
.gmail{
    margin-right: 80px;
}
.gmail img{
    width: 53px;
    margin-left: 140px;
}

.phone img{
    width: 50px;
    margin-left: 33px;
}

.locate_image img{
    border-radius: 30px;
    padding-bottom: 5vh;

}
footer {
margin-top: auto;

}

.footer-content  {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e3b42;
    width: 100%;
    height: 100hv; 
    opacity: .9;
}
.foot{
    display: flex;
    list-style: none;
    font-size: 15px;
}