/*Some of this code is borrowed from Bootstrap via https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css*/

body{
    background-image:url('../images/finals_bg.jpg');
    font-family:'Lilita One';
}
.nav{
    font-family:'Lilita One';
}
.navt{
    font-size: medium;

}
.buffer{
    height: 75px;
}
.feedbackc{
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 120px;
    padding: 20px 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.feedtext{
    margin-top: 50px;
    
}

.mb-3{margin-bottom:1rem!important}

.row{
--bs-gutter-x:1.5rem;
--bs-gutter-y:0;
display:flex;
flex-wrap:wrap;
margin-top:calc(-1 * var(--bs-gutter-y));
margin-right:calc(-.5 * var(--bs-gutter-x));
margin-left:calc(-.5 * var(--bs-gutter-x))}

.col-sm-2{flex:0 0 auto;width:16.66666667%}
.col-form-label{
padding-top:calc(.375rem + 1px);
padding-bottom:calc(.375rem + 1px);
margin-bottom:0;
font-size:inherit;
text-align: center;
line-height:1.5}
.col-sm-10{flex:0 0 auto;width:83.33333333%}

.form-control{
opacity: 0.75;
display:block;
width:90%;
padding:.375rem .75rem;
font-size:1rem;
font-weight:400;
line-height:1.5;
color:#212529;
background-color:#0E95CF;
background-clip:padding-box;border:1px solid #ced4da;
-webkit-appearance:none;
-moz-appearance:none;appearance:none;
border-radius:.375rem;
transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
@media (prefers-reduced-motion:reduce){.form-control{transition:none}}
.form-control[type=file]{overflow:hidden}
.form-control[type=file]:not(:disabled):not([readonly]){cursor:pointer}
.form-control:focus{color:#212529;background-color:#fff;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}
.form-control::-webkit-date-and-time-value{height:1.5em}
.form-control::-moz-placeholder{color:#6c757d;opacity:1}
.form-control::placeholder{color:#6c757d;opacity:1}
.form-control:disabled{background-color:#e9ecef;opacity:1}
.form-control::-webkit-file-upload-button{padding:.375rem .75rem;margin:-.375rem -.75rem;-webkit-margin-end:.75rem;margin-inline-end:.75rem;color:#212529;background-color:#e9ecef;pointer-events:none;border-color:inherit;border-style:solid;border-width:0;border-inline-end-width:1px;border-radius:0;-webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.form-control::file-selector-button{padding:.375rem .75rem;margin:-.375rem -.75rem;-webkit-margin-end:.75rem;margin-inline-end:.75rem;color:#212529;background-color:#e9ecef;pointer-events:none;border-color:inherit;border-style:solid;border-width:0;border-inline-end-width:1px;border-radius:0;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
@media (prefers-reduced-motion:reduce){.form-control::-webkit-file-upload-button{-webkit-transition:none;transition:none}.form-control::file-selector-button{transition:none}}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button{background-color:#dde0e3}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button{background-color:#dde0e3}
.form-control-plaintext{display:block;width:100%;padding:.375rem 0;margin-bottom:0;line-height:1.5;color:#212529;background-color:transparent;border:solid transparent;border-width:1px 0}
.form-control-plaintext:focus{outline:0}.form-control-plaintext.form-control-lg,.form-control-plaintext.form-control-sm{padding-right:0;padding-left:0}
.form-control-sm{min-height:calc(1.5em + .5rem + 2px);padding:.25rem .5rem;font-size:.875rem;border-radius:.25rem}
.form-control-sm::-webkit-file-upload-button{padding:.25rem .5rem;margin:-.25rem -.5rem;-webkit-margin-end:.5rem;margin-inline-end:.5rem}
.form-control-sm::file-selector-button{padding:.25rem .5rem;margin:-.25rem -.5rem;-webkit-margin-end:.5rem;margin-inline-end:.5rem}
.form-control-lg{min-height:calc(1.5em + 1rem + 2px);padding:.5rem 1rem;font-size:1.25rem;border-radius:.5rem}
.form-control-lg::-webkit-file-upload-button{padding:.5rem 1rem;margin:-.5rem -1rem;-webkit-margin-end:1rem;margin-inline-end:1rem}
.form-control-lg::file-selector-button{padding:.5rem 1rem;margin:-.5rem -1rem;-webkit-margin-end:1rem;margin-inline-end:1rem}textarea.form-control{min-height:calc(1.5em + .75rem + 2px)}textarea.form-control-sm{min-height:calc(1.5em + .5rem + 2px)}textarea.form-control-lg{min-height:calc(1.5em + 1rem + 2px)}
.form-control-color{width:3rem;height:calc(1.5em + .75rem + 2px);padding:.375rem}
.form-control-color:not(:disabled):not([readonly]){cursor:pointer}
.form-control-color::-moz-color-swatch{border:0!important;border-radius:.375rem}
.form-control-color::-webkit-color-swatch{border-radius:.375rem}
.form-control-color.form-control-sm{height:calc(1.5em + .5rem + 2px)}
.form-control-color.form-control-lg{height:calc(1.5em + 1rem + 2px)}

.btn{
--bs-btn-padding-x:0.75rem;
--bs-btn-padding-y:0.375rem;
--bs-btn-font-family: ;
--bs-btn-font-size:1rem;
--bs-btn-font-weight:400;
--bs-btn-line-height:1.5;
--bs-btn-color:#212529;
--bs-btn-bg:transparent;
--bs-btn-border-width:5px;
--bs-btn-border-color:transparent;
--bs-btn-border-radius:0.375rem;
--bs-btn-hover-border-color:transparent;
--bs-btn-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
--bs-btn-disabled-opacity:0.65;--bs-btn-focus-box-shadow:
0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
display:inline-block;padding:var(--bs-btn-padding-y) var(--bs-btn-padding-x);
font-family:var(--bs-btn-font-family);
font-size:var(--bs-btn-font-size);
font-weight:var(--bs-btn-font-weight);
line-height:var(--bs-btn-line-height);
color:var(--bs-btn-color);
text-align:center;
text-decoration:none;
vertical-align:middle;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
border:var(--bs-btn-border-width) solid var(--bs-btn-border-color);
border-radius:var(--bs-btn-border-radius);
background-color:var(--bs-btn-bg);
transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}

@media (prefers-reduced-motion:reduce){.btn{transition:none}}
.btn:hover{
color:var(--bs-btn-hover-color);
background-color:var(--bs-btn-hover-bg);
border-color:var(--bs-btn-hover-border-color)}
.btn-check+.btn:hover{
color:var(--bs-btn-color);
background-color:var(--bs-btn-bg);
border-color:var(--bs-btn-border-color)}
.btn:focus-visible{
color:var(--bs-btn-hover-color);
background-color:var(--bs-btn-hover-bg);
border-color:var(--bs-btn-hover-border-color);
outline:0;
box-shadow:var(--bs-btn-focus-box-shadow)}
.btn-check:focus-visible+.btn{
border-color:var(--bs-btn-hover-border-color);
outline:0;box-shadow:var(--bs-btn-focus-box-shadow)}
.btn-check:checked+.btn,.btn.active,.btn.show,.btn:first-child:active,:not(.btn-check)+.btn:active{
color:var(--bs-btn-active-color);
background-color:var(--bs-btn-active-bg);
border-color:var(--bs-btn-active-border-color)}
.btn-check:checked+.btn:focus-visible,.btn.active:focus-visible,.btn.show:focus-visible,.btn:first-child:active:focus-visible,:not(.btn-check)+.btn:active:focus-visible{
box-shadow:var(--bs-btn-focus-box-shadow)}
.btn.disabled,.btn:disabled,fieldset:disabled .btn{
color:var(--bs-btn-disabled-color);
pointer-events:none;
background-color:var(--bs-btn-disabled-bg);
border-color:var(--bs-btn-disabled-border-color);
opacity:var(--bs-btn-disabled-opacity)}

.btn-primary{
--bs-btn-color:#fff;
--bs-btn-bg:#1283B4;
--bs-btn-border-color:#000000;
--bs-btn-hover-color:#fff;
--bs-btn-hover-bg:#0b5ed7;
--bs-btn-hover-border-color:#0a58ca;
--bs-btn-focus-shadow-rgb:49,132,253;
--bs-btn-active-color:#fff;
--bs-btn-active-bg:#0a58ca;
--bs-btn-active-border-color:#0a53be;
--bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color:#fff;--bs-btn-disabled-bg:#0d6efd;
--bs-btn-disabled-border-color:#0d6efd}
.btn-lg{
--bs-btn-padding-y:0.5rem;
--bs-btn-padding-x:1rem;
--bs-btn-font-size:1.25rem;
--bs-btn-border-radius:0.5rem}

.container{
--bs-gutter-x:1.5rem;
--bs-gutter-y:0;
width:100%;
padding-right:calc(var(--bs-gutter-x) * .5);
padding-left:calc(var(--bs-gutter-x) * .5);
margin-right:auto;margin-left:auto}

.alert{--bs-alert-bg:transparent;--bs-alert-padding-x:1rem;--bs-alert-padding-y:1rem;--bs-alert-margin-bottom:1rem;--bs-alert-color:inherit;--bs-alert-border-color:transparent;--bs-alert-border:1px solid var(--bs-alert-border-color);--bs-alert-border-radius:0.375rem;position:relative;padding:var(--bs-alert-padding-y) var(--bs-alert-padding-x);margin-bottom:var(--bs-alert-margin-bottom);color:var(--bs-alert-color);background-color:var(--bs-alert-bg);border:var(--bs-alert-border);border-radius:var(--bs-alert-border-radius)}
.alert-heading{color:inherit}
.alert-link{font-weight:700}
.alert-dismissible{padding-right:3rem}
.alert-dismissible .btn-close{position:absolute;top:0;right:0;z-index:2;padding:1.25rem 1rem}
.alert-primary{--bs-alert-color:#084298;--bs-alert-bg:#cfe2ff;--bs-alert-border-color:#b6d4fe}
.alert-primary .alert-link{color:#06357a}
.alert-secondary{--bs-alert-color:#41464b;--bs-alert-bg:#e2e3e5;--bs-alert-border-color:#d3d6d8}
.alert-secondary .alert-link{color:#34383c}
.alert-success{--bs-alert-color:#0f5132;--bs-alert-bg:#d1e7dd;--bs-alert-border-color:#badbcc}
.alert-success .alert-link{color:#0c4128}.alert-info{--bs-alert-color:#055160;--bs-alert-bg:#cff4fc;--bs-alert-border-color:#b6effb}
.alert-info .alert-link{color:#04414d}
.alert-warning{--bs-alert-color:#664d03;--bs-alert-bg:#fff3cd;--bs-alert-border-color:#ffecb5}
.alert-warning .alert-link{color:#523e02}
.alert-danger{--bs-alert-color:#842029;--bs-alert-bg:#f8d7da;--bs-alert-border-color:#f5c2c7}
.alert-danger .alert-link{color:#6a1a21}
.alert-light{--bs-alert-color:#636464;--bs-alert-bg:#fefefe;--bs-alert-border-color:#fdfdfe}
.alert-light .alert-link{color:#4f5050}
.alert-dark{--bs-alert-color:#141619;--bs-alert-bg:#d3d3d4;--bs-alert-border-color:#bcbebf}
.alert-dark .alert-link{color:#101214}@keyframes progress-bar-stripes{0%{background-position-x:1rem}}

.fade{transition:opacity .15s linear}@media (prefers-reduced-motion:reduce){.fade{transition:none}}
.fade:not(.show){opacity:0}.collapse:not(.show){display:none}
.collapsing{height:0;overflow:hidden;transition:height .35s ease}@media (prefers-reduced-motion:reduce){.collapsing{transition:none}}

