 
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            font-family: Poppins;
            background-image:url('images/wp_cake.jpg');
            background-attachment:fixed;
            background-repeat: no-repeat;
            background-size: cover;
            
        }
       

        .navbar {
            position: fixed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ff4c8b;
            opacity: 0.7;
            width: 100%;
            height: 75px;
            z-index: 2;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            
        }

        .nav {
            display: flex;
            list-style: none;
            font-size: small;
        }
        
        
        
        .logo {
            display: flex; 
            align-items: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 30px;
            margin-left: 2%;
            font-style: italic;
        }
		.logo img {
            width: 65px; 
            height: auto; 
            margin-left: 5px;
            margin-bottom: 3%;
        }

        a {
            margin: 7px;
            color: #d9d9d9;
            text-shadow: 2px 2px 1px #000000;
            text-decoration: none;
            text-transform: uppercase;
        }

        .nav a:hover {
            color: #000000;
        }

       .content {
        position: relative;
        background-color: aliceblue;
        opacity: 90%;
        display: flex;
        justify-content: space-around;
        align-items:center;     
        flex-wrap: wrap;
        flex-direction: row;  
        margin-top: 10%;
        margin-left: 30%;
        margin-right: 30%;
        border-radius: 30px;
       }
       .content h1, .content p {
        color: #000000;
        font-size: 40px;
        font-family: Audiowide;
        text-align: center;
        flex-direction: row; 
       }
       .content p {
        font-size: 20px;
        line-height: 30px;
        margin-top: -5px;
        text-align: center;
       }
       form {
        display: flex; /* Enables flexbox for the form */
        flex-direction: column; /* Stacks elements vertically */
        align-items: center; /* Centers content horizontally */
      }

       .code-input {
        display: flex;
        justify-content: center;
        width: 300px; 
        margin: auto;
        
        
      }
      
      .digit {
        border: 2px solid #504f4f;
        text-align: center;
        padding: 5px;
        font-size: 30px;
        width: 250px; /* Adjust width as needed */
        height: 70px;
      }
      
      .digit:focus {
        border: 2px solid #007bff;
        outline: none;
      }
      
      button {
        
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
      }
      

        
      footer {
        margin-top: auto;
       }
        
        .footer-content  {
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #7e3b42;
            width: 100%;
            height: 100hv; 
			
        }
        
        
        

