.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff4c8b;
    opacity: 0.7;
    width: 100%;
    height: 75px;
    z-index: 2;
    font-family:Verdana, Geneva, 
    Tahoma, sans-serif;
    font-weight: bold;
    
}

.nav {
    display: flex;
    list-style: none;
    font-size: small;
}

.fun{
    display: flex;
    list-style: none;
}

#entertainment img{
    width: 250px;
}

#hotels img, #shopping img, #food img{
    width: 600px;
}

#view img,#lmark img{
    width: 700px;
}

.logo {
    display: flex; 
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    margin-left: 2%;
    font-style: italic;
}

.logo img {
    width: 65px; 
    height: auto; 
    margin-left: 5px;
    margin-bottom: 3%;
}

a {
    margin: 7px;
    color: #fdfff5  ;
    text-shadow: 2px 2px 1px #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.nav a:hover {
    color: #000000;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    background-color: #fff1fa;
}

@font-face {
    font-family: KingCake;
    src: url(font/KingCake.otf);
}

.flex-container1 {
    display: flex;
}

.flex-child1 {
    flex: 2;
    margin-left:20vh;
    margin-right:20vh;
    margin-top:17vh;
}

.flex-child1:first-child {
    margin-right: 20px;
}

.flex-container1 img{
    height: 615px;
    padding-left: 10vh;
}

.flex-child1 h1{
    font-size: 100px;
    justify-content: center;
    font-family:KingCake;
    text-align: center;
}
.flex-child1 p{
    font-size: 100px;
    justify-content: center;
    font-family:KingCake;
    text-align: center;
}

.flex-container2 {
    display: flex;
}

.flex-child2 {
    flex: 2;
    margin-left:20vh;
    margin-right:20vh;
    margin-top:17vh;
    margin-bottom:17vh;
}

.flex-child2:first-child {
    margin-right: 20px;
}

.flex-container2 img{
    height: 500px;
    width:auto;
    padding-left: 10vh;
}

.flex-child2 p{
    font-size: 65px;
    font-family:KingCake;
    text-align: center;
    margin-top:10vh;
    justify-content: space-between;
    text-justify: center;
}

.flex-container3 {
    display: flex;
}

.flex-child3 {
    flex: 2;
    margin-left:20vh;
    margin-right:20vh;
    margin-top:17vh;
    margin-bottom:17vh;
}

.flex-child3:first-child {
    margin-right: 20px;
}



.flex-child3 p{
    font-size: 65px;
    font-family:KingCake;
    text-align: center;
}

footer {
    margin-top: auto;
}
    
.footer-content  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e3b42;
    width: 100%;
    height: 100;
}